
#
# AWS configuration
#
aws_key_pair_file="~/.ssh/jamesc-us-west-2"
aws_key_pair_name="jamesc-us-west-2"

#
# Tagging
#
tag_customer="HPE CTP"
tag_project="a2-deploy"
tag_name="a2-deploy"
tag_dept="partner"
tag_contact="james@chef.io"

#
# Admin user creation info
#
admin_email="james@chef.io"
admin_user="James Casey"
admin_username="admin"
admin_password="f4363cbf-a75e-49e5-8bc2-7b34583446dd"

#
# Chef Automate
#
automate_host_name="automate"
automate_domain_name="example.com"
automate_eipalloc_id="eipalloc-YYYYYYYYYYYYYYYYYYYYY"

automate_license="Ask your Chef Sales contact for a license"

#
# Chef Server
#
chef_server_host_name="chef"
chef_server_domain_name="example.com"
chef_server_eipalloc_id="eipalloc-XXXXXXXXXXXXXXXXX"
